---
// Usage: <Tags tags={['tag1', 'tag2']} />
const { tags } = Astro.props;
---

{
	tags.map((tag) => {
		tag = `${tag.toLowerCase()}`;
		const tagWithHash = `#${tag}`;
		return (
			<a href={`/tag/${tag}`} class="mr-2 text-sm text-neutral-500 dark:text-neutral-400">
				{tagWithHash}
			</a>
		);
	})
}
